@import "../node_modules/bootstrap/scss/bootstrap";

body {
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    z-index: 2;
    a.navbar-brand {
        color: #505050 !important;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 36px;
    }
    .navbar-light .navbar-toggler {
        outline: 0;
        border-color: transparent;
    }
    ul.navbar-nav {
        a.nav-link {
            background: #ffffff;
            font-family: 'Source Sans Pro', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.4) !important;
            &:active, &:hover, &:visited {
                color: rgba(0, 0, 0, 0.8) !important;
            }
        }
    }
}

section#home {
    background: url('/img/home-bg-slider-img1.jpg') !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    .home-text {
        h3 {
            font-family: 'Lora', serif;
            font-style: italic;
        }
        h1 {
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 10px;
            line-height: 1.5em;
        }
        a {
            background-color: #26253a;
            color: #999;
            font-weight: bold;
            border-radius: 0;
            text-transform: uppercase;
            font-size: 20px;
            padding: .8em 1.2em;
            letter-spacing: 4px;
            &:hover {
                background-color: #fff;
                color: #26253a;
                transition: all .5s ease;
            }
        }
    }
}

section#about {
    padding: 7em 0;
    img {
        border: 4px solid #f9f9f9;
    }
    blockquote {
        background: #fff;
        border-left: 8px solid #26253a;
        box-shadow: 0px 2px 20px 8px rgba(0, 0, 0, 0.1);
        color: #26253a;
        font-style: italic;
        font-weight: bold;
        letter-spacing: 1px;
        word-spacing: 1px;
        font-size: 20px;
        font-family: 'Lora', serif;
        transform: translateX(50px) translateY(-80px);
    }
    h2 {
        font-size: 30px;
        letter-spacing: 6px;
        text-transform: uppercase;
        font-weight: bold;
    }
    p {
        font-size: 20px;
        color: #707070;
        line-height: 25px;
        letter-spacing: 0.4px;
    }
    a {
        color: #26253a;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 22px;
        border-radius: 0px;
        font-weight: 600;
        border: 4px solid #26253a;
        padding: 15px 30px;
        &:hover {
            background: #26253a;
            color: #fff;
            transition: all 0.5s ease;
        }
    }
}

section#trainers {
    padding: 7em 0;
    background: #f9f9f9;
    h2 {
        font-size: 30px;
        letter-spacing: 6px;
        text-transform: uppercase;
        font-weight: bold;
    }
    p {
        font-size: 20px;
        color: #707070;
        line-height: 25px;
        letter-spacing: 0.4px;
    }
    .trainer-item {
        position: relative;
        .trainer-overlay {
            background: #26253a;
            color: #fff;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            vertical-align: middle;
            opacity: 0;
            width: 100%;
            height: 100%;
            transition: all .5s ease;
            &:hover {
                opacity: .9;
                margin: 10px;
                cursor: default;
            }
            .overlay-info {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                h3 {
                    text-transform: uppercase;
                    font-size: 30px;
                    letter-spacing: 6px;
                }
                h4 {
                    letter-spacing: 1px;
                    line-height: 36px;
                    font-family: 'Lora', sans-serif;
                    font-style: italic;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    display: flex;
                    a {
                        text-decoration: none;
                        color: #999;
                        width: 50px;
                        height: 50px;
                        border-radius: 50px;
                        font-size: 20px;
                        line-height: 50px;
                        margin: auto 5px;
                        &:hover {
                            background: rgb(255, 231, 220);
                        }
                    }
                }
            }
        }
    }
}

section#newsletter {
    padding: 7em 0;
    background: url('/img/newsletter-bg.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    h2 {
        font-size: 30px;
        letter-spacing: 6px;
        text-transform: uppercase;
    }
    p {
        color: #707070;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.4px;
    }
    input {
        padding: 5px;
        border: none;
        border-bottom: 1px solid #999;
        background: transparent;
        outline: 0;
        width: 30%;
        color: white;
        font-size: 20px;
        margin: 0 10px;
    }
    button {
        display: block;
        text-align: center;
        background: #26253a;
        color: white;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 4px;
        border: none;
        border-radius: 0;
        padding: 15px 30px;
        margin: 0 auto;
        &:hover {
            background: white;
            color: #26253a;
            transition: all .5s ease;
        }
    }
}

section#blog {
    padding: 7em 0;
    background: #f9f9f9;
    h2 {
        font-size: 30px;
        letter-spacing: 6px;
        text-transform: uppercase;
        font-weight: bold;
    }
    p {
        font-size: 20px;
        color: #707070;
        line-height: 25px;
        letter-spacing: 0.4px;
    }
    .blog-item {
        border: 1px solid #d8d7d7;
        height: 100%;
        span {
            color: #999;
            font-weight: bold;
            font-size: 14px;
        }
        h3 {
            a {
                font-family: 'Lora', serif;
                font-style: italic;
                font-weight: 600;
                font-size: 24px;
                color: #606060;
                text-decoration: none;
            }
        }
        h5.author {
            color: #606060;
            letter-spacing: 1px;
            font-weight: 600;
            font-size: 14px;
        }
        &.item1 {
            &:hover {
                background: url(/img/blog-thumb.jpg) no-repeat;
                background-size: 120%;
                background-position: center center;
                transition: all 4s linear;
                span, h3 a, h5.author {
                    color: white;
                }
            }
        }
        &.item2 {
            &:hover {
                background: url(/img/blog-thumb1.jpg) no-repeat;
                background-size: 120%;
                background-position: center center;
                transition: all 4s linear;
                span, h3 a, h5.author {
                    color: white;
                }
            }
        }
        &.item3 {
            &:hover {
                background: url(/img/blog-thumb2.jpg) no-repeat;
                background-size: 120%;
                background-position: center center;
                transition: all 4s linear;
                span, h3 a, h5.author {
                    color: white;
                }
            }
        }
        &.item4 {
            &:hover {
                background: url(/img/blog-thumb3.jpg) no-repeat;
                background-size: 120%;
                background-position: center center;
                transition: all 4s linear;
                span, h3 a, h5.author {
                    color: black;
                }
            }
        }
    }
}